@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #e8e8e8;
}

ul,
a,
Link {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 2rem;
}
